.container {
    min-height: 30vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5rem;
}

.header {
    display: flex;
    align-items: center;
}

.user-input {
    height: 3rem;
    border: none;
    border-radius: 2rem;
    padding-left: 2rem;
    padding-right: 1rem;
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;
    margin: 1rem;
    outline: none;
}

.add {
    background-color: #3b3b3b;
    height: 40px;
    width: 40px;
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #bbbbbb;
    cursor: pointer;
}