.grid {
    display: grid;
    min-height: 30vh;
    width: 90%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem;
}

.user {
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3b3b3b;
    border-radius: 2rem;
    flex-direction: column;
}

.name {
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
}

.email {
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 1rem;
}