.grid {
    display: grid;
    width: 85%;
    grid-gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    min-height: 50vh;
}

.grid-item {
    height: 30vh;
    background-color: #3b3b3b;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.image {
    width: 50%;
}

.name {
    margin: 1rem 0 0 0;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}

.red-circle {
    position: absolute;
    right: 1rem;
    top: 1rem;
    height: 2rem;
    width: 2rem;
    background-color: brown;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.x {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-weight: 300;
    font-family: "Poppins", sans-serif;
    height: fit-content;
}

.quantity-select {
    display: flex;
    height: 2rem;
}

.number {
    padding: 0 1rem 0 1rem;
    margin: 0;
    width: 3rem;
    background-color: #454545;
    display: flex;
    align-items: center;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add {
    background-color: #454545;
    border: none;
    width: 3rem;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    cursor: pointer;
}

.subtract {
    background-color: #454545;
    border: none;
    width: 3rem;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    cursor: pointer;
}