.container {
    width: 70vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

.reason-title {
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    padding-left: 4rem;
}

.reason {
    margin: 0 2rem 0 2rem;
}

.icon {
    width: 2rem;
}

.detail {
    margin-bottom: 1.5rem;
    margin-top: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.number {
    font-size: 1rem;
    font-weight: bold;
    background-color: brown;
    width: 2rem;
    height: 2rem;
    padding: 1rem;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.5rem;
    font-family: 'Poppins', sans-serif;
}