.container {
  height: 95vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  z-index: 999;
}

.video-container {
  width: 75vw;
  position: relative;
}

.video {
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  position: relative;
  z-index: 0;
}

.video-title {
  margin-left: 8rem;
  color: white;
}

.title {
  margin: 0 0 1rem 0;
  font-family: 'Poppins', sans-serif;
  font-size: 5rem;
  font-weight: 700;
  line-height: 1.2;
}

.store-button {
  background-color: brown;
  outline: none;
  border: none;
  width: 15rem;
  height: 3rem;
  border-radius: 1rem;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.button-arrow {
  margin-left: 0.5rem;
}